
config mjpg-streamer 'core'
	option enabled '1'
	option input 'uvc'
	option output 'http'
	option device '/dev/video0'
	option resolution '1280x720'
	option yuv '0'
	option quality '80'
	option fps '15'
	option led 'auto'
	option www '/www/webcam'
	option port '8081'
	#option username 'openwrt'
	#option password 'openwrt'
